{% load static wagtailuserbar %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<style>
/* Base */

  .btn.btn-primary {
    background: {{page.primary_colour}} !important;
    border-color: {{page.primary_colour}} !important;
   }

   #blog-section a{ 
     color:{{page.primary_colour}} !important;
   }

 .form-control:active, .form-control:focus {
    border-color: {{page.primary_colour}} !important; }

  .ul-check.primary li:before {
    color: {{page.primary_colour}} !important; }

    .site-navbar .site-navigation .site-menu .active {
      color: {{page.primary_colour}} !important;
 }

        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: {{page.primary_colour}} !important; }

      .site-navbar .site-navigation .site-menu .has-children .dropdown {

        border-top: 2px solid {{page.primary_colour}} !important;
 }

        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: {{page.primary_colour}} !important !important; }

      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: {{page.primary_colour}} !important; }


      .site-mobile-menu .site-nav-wrap a:hover {
        color: {{page.primary_colour}} !important; }
      .site-mobile-menu .site-nav-wrap li .active {
        color: {{page.primary_colour}} !important; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: {{page.primary_colour}} !important; }

      .sticky-wrapper.is-sticky .site-navbar ul li a.active {
        color: {{page.primary_colour}} !important !important; }

    .site-block-tab .nav-item > a:hover, .site-block-tab .nav-item > a.active {
      border-bottom: 2px solid  {{page.primary_colour}} !important;
      }

    .slide-one-item .owl-dots .owl-dot.active span {
      background:  {{page.primary_colour}} !important; }

      .block-12 .text .text-inner:before {

        background:  {{page.primary_colour}} !important;
       }

  .block-16 figure .play-button {
  
    color:  {{page.primary_colour}} !important !important; }


.block-25 ul li a .meta {
  color:  {{page.primary_colour}} !important; }

  .player .team-number {

    background:  {{page.primary_colour}} !important;
}


.site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background:  {{page.primary_colour}} !important;
 }


.feature-1, .free-quote, .feature-3 {
  background:  {{page.primary_colour}} !important;
; }




  
  .border-primary:after {

    background:  {{page.primary_colour}} !important; }

.how-it-work-item .number {
 
  background:  {{page.primary_colour}} !important;
 }

.custom-pagination a, .custom-pagination span {

  background:  {{page.primary_colour}} !important;
  }

 

    .listing-item .listing-item-content .category {
     
      background:  {{page.primary_colour}} !important;
 }


    .listing-item .bookmark:hover {
      background:  {{page.primary_colour}} !important; }

.accordion-item[aria-expanded="true"] {
  color:  {{page.primary_colour}} !important; }


  .ft-feature-1 .play {

    background:  {{page.primary_colour}} !important;
    }


.section-sub-title {

  color:  {{page.primary_colour}} !important;
}

.section-title {
  color:  {{page.primary_colour}} !important;
 }

.cta-big-image .img-box {
  background:  {{page.primary_colour}} !important;
 }


  .team-member .social {

    background:  {{page.primary_colour}} !important; }



.custom-direction {
  position: relative;
  z-index: 99;
  border-radius: 7px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  left: 50%;
  display: inline-block;
  background:  {{page.primary_colour}} !important; }


.icons {
  color: {{page.primary_colour}} !important
}



</style>
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.client_organisationName}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">    
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">        
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">    
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
      
    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">        
          

          <div class="col-6 col-xl-2">
            {% if page.logo %}            
               <a href="#">{% image page.logo original class="img-fluid mb-0" %}<span class="text-primary"></span></a>
            {% else %}
              <h1 class="mb-0 site-logo"><a href="#">{{page.client_organisationName}}<span class="text-primary"></span> </a></h1>
            {% endif %}
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                 {% if page.show_blurb and page.show_blurb_in_navigation %}
                <li><a href="#{{page.blurb_header|cut:" "}}" class="nav-link">{{page.blurb_header}}</a></li>
                {% endif %}
                {% if self.galleryOrderable.all and page.show_gallery_in_navigation %}
                  <li><a href="#{{page.image_gallery_title|cut:" "}}" class="nav-link">{{page.image_gallery_title}}</a></li>
                {% endif %}

               {% if page.show_second_blurb and page.show_second_blurb_in_navigation %}
                  <li><a href="#{{page.second_blurb_header|cut:" "}}" class="nav-link">{{page.second_blurb_header}}</a></li>
                {% endif %}

                {% if self.enumeratedListOrderable.all and page.show_enumerated_list_in_navigation  %}
                    <li><a href="#{{page.enumerated_list_header|cut:" "}}" class="nav-link">{{page.enumerated_list_header}}</a></li>
                {% endif %}

                {% if self.iconListOrderable.all and page.show_icon_list_in_navigation %}
                <li><a href="#{{page.icon_list_header|cut:" "}}" class="nav-link">{{page.icon_list_header}}</a></li>
                {% endif %}

                {% if self.testimonialOrderable.all and page.show_testimonials_in_navigation %}
                <li><a href="#{{page.testimonials_header|cut:" "}}" class="nav-link">{{page.testimonials_header}}</a></li>
                {% endif %}
               
                {% if page.show_contact_form %}
                <li><a href="#{{page.contact_title|cut:" "}}" class="nav-link">{{page.contact_title}}</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>         

          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>      
    </header>
    {% if page.intro_video_id %}
    <div class="videoWrapper">
    
      {% if videoFormatIsVimeo %}
       <iframe style="opacity: {{page.video_background_brightness}};" src="//player.vimeo.com/video/{{page.intro_video_id}}?api=1&background=1&title=0&amp;portrait=0&amp;byline=0&amp;autoplay=1&amp;loop=1"  frameborder="0" allowfullscreen=""></iframe>
      {% else %}
          <iframe class="trailer" style="opacity: {{page.video_background_brightness}};" src="https://www.youtube.com/embed/{{page.intro_video_id}}?rel=0&amp;controls=0&amp;showinfo=0&amp;mute=1&amp;autoplay=1&amp;loop=1&amp;playlist={{page.intro_video_id}}" allowfullscreen="" width="560" height="349" frameborder="0"></iframe>
      {% endif %}
      </div>    
    {% endif %}
  
      {% image page.intro_background original as img %}
  <div class="site-blocks-cover overlay" {% if not page.intro_video_id %} style="background-image: url({{img.url}});" {% endif %} data-aos="fade" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">          
              <div class="col-md-6 mt-lg-5 text-center">
                <h1>{{page.intro_header}}</h1>
                <p class="mb-5">{{page.intro_text|richtext}}</p>
                {% if page.intro_continue_button_text %}
                <div>
                  <a href="#{{page.blurb_header|cut:" "}}" class="btn btn-primary mr-2 mb-2 smoothscroll">{{page.intro_continue_button_text}}</a>
                </div>
              </div>            
              {% endif %}
        </div>
      </div>
    </div>  

    {% if page.show_blurb  %}
    <div class="site-section cta-big-image border-bottom" id="{{page.blurb_header|cut:" "}}">
      <div class="container">
        {% image page.blurb_background fill-1080x720-c100 class="img-fluid" %}
        <div class="img-box">
          <span class="sub-title">{{page.blurb_header}}</span>
          <h2>{{page.blurb_subheader}}</h2>
          {{page.blurb_text|richtext}}                    
        </div>           
      </div>  
    </div>
     {% endif %}

    {% if self.galleryOrderable.all  %}
     <section class="site-section border-bottom bg-light" id="{{page.image_gallery_title|cut:" "}}">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-5 text-left">
            <h2 class="section-title mb-3">{{page.image_gallery_title}}</h2>
            <p class="lead">{{page.image_gallery_text|richtext}}</p>
          </div>
        </div>
        <div class="row">
    
          {% for g in self.galleryOrderable.all %}
            <div class="col-md-6 col-lg-3 mb-4">
                  <div class="team-member">
                    <figure>
                      {% image g.gallery.image fill-255x255-c100 class="img-fluid" %}
                    </figure>
                    <div class="p-3">
                      <h3>{{g.gallery.name}}</h3>
                      <span class="position"><a href="{{gallery.gallery.link}}">{{g.gallery.description}}</a></span>
                    </div>
                  </div>
                </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}

 {% if page.show_second_blurb %}
    <section class="site-section border-bottom" id="{{page.second_blurb_header|cut:" "}}">
      <div class="container">        
        <div class="row">
          <div class="col-lg-6">
          {% if self.carouselOrderable.all  %}           
            <div class="owl-carousel slide-one-item-alt">
              {% for g in self.carouselOrderable.all %}
                {% image g.image fill-650x650-c100 class="img-fluid" %} 
              {% endfor %}             
            </div>
            {% if self.carouselOrderable|length > 1 %}
            <div class="custom-direction">
              <a href="#" class="custom-prev">Prev</a><a href="#" class="custom-next">Next</a>
            </div>
            {% endif %}
            {% endif %}
          </div>
          <div class="col-lg-5 ml-auto">            
            <h2 class="section-title mb-3">{{page.second_blurb_header}}</h2>
                <p class="lead">{{page.second_blurb_subheader}}</p>
               {{page.second_blurb_text|richtext}}
                {% if page.second_blurb_link  %}   
                  <p><a href="{{page.second_blurb_link}}" class="btn btn-primary mr-2 mb-2">{{page.second_blurb_buttonText}}</a></p> 
              {% endif %}           
          </div>
        </div>
      </div>
    </section>
    {% endif %}

{% if self.enumeratedListOrderable.all  %}
    <section class="site-section border-bottom bg-light" id="{{page.enumerated_list_header|cut:" "}}">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <h2 class="section-title mb-3">{{page.enumerated_list_header}}</h2>
          </div>
        </div>
        <div class="row">

          {% for e in self.enumeratedListOrderable.all %}
            <div class="col-md-6 col-lg-4">
              <div class=" box-with-humber">
                <h2 class="text-black"><span class="text-primary">{{ forloop.counter }}.</span>{{e.enumeratedList.title}}</h2>
                <p class="mb-4">{{e.enumeratedList.text|richtext}}</p>              
              </div>
            </div>
          {%endfor%}
        </div>
      </div>
    </section>
      {% endif %}


{% if self.iconListOrderable.all  %}
    <section class="site-section border-bottom border-bottom" id="{{page.icon_list_header|cut:" "}}">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">{{page.icon_list_header}}</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          {% for i in self.iconListOrderable.all %}          
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class=" icons icon-{{i.iconItem.icon}}"></span></div>
              <div>
                <h3>{{i.iconItem.title}}</h3>
                {{i.iconItem.text|richtext}}
                <p><a href="{{i.iconItem.link}}">{{i.iconItem.linkText}}</a></p>
              </div>
            </div>
          </div>
        {%endfor%}
        </div>
      </div>
    </section>
    {% endif %}

{% if self.testimonialOrderable.all  %}
    <section class="site-section testimonial-wrap border-bottom bg-light" id="{{page.testimonials_header|cut:" "}}">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">{{page.testimonials_header}}</h2>
          </div>
        </div>
      </div>

      <div class="slide-one-item home-slider owl-carousel">
          {% for i in self.testimonialOrderable.all %}  
          <div>
            <div class="testimonial">              
              <blockquote class="mb-5">
                {{i.testimonialItem.testimonial|richtext}}
              </blockquote>

                <p>{{i.testimonialItem.author}}</p>              
            </div>
          </div>
           {% endfor %}
          </div> 
    </section>
  {% endif %}

{% if blogpages or medium_blogs %}
    <section class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">{{page.blog_title}}</h2>
          </div>
        </div>
        <div class="row">
          
    {% for post in blogpages %}
        {% with post=post.specific %}        
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
            <div class="h-entry">
                <a href="{% pageurl post %}" target="_blank" data-target=".bd-example-modal-lg-{{ forloop.counter }}" >
                  {% with post.main_image as main_image %}
                  {% if main_image %}
                    {% image main_image fill-320x200-c100 %}
                  {% else %}
                    <img src="{% static 'images/blog_img.jpg'%}"/>
                  {% endif %}
                  {% endwith %}
              </a>
              <h2 class="font-size-regular"><a href="{% pageurl post %}" target="_blank" data-target=".bd-example-modal-lg-{{ forloop.counter }}" >{{post.title}}</a></h2>
              <div class="meta mb-4">{{post.author}}<span class="mx-2">&bullet;</span>{{post.date}}<span class="mx-2">&bullet;</span></div>
              
              <p><a href="{% pageurl post %}" target="_blank" data-target=".bd-example-modal-lg-{{ forloop.counter }}" >Continue Reading...</a></p>
            </div> 
          </div>
        {% endwith %}        

          <div class="modal fade bd-example-modal-lg-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <iframe src="{% pageurl post %}"></iframe>
              </div>
            </div>
          </div>
      {% endfor %}



      {% for med_post in medium_blogs %}              
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="h-entry">
              <a href="{{med_post.links.0.href }}" target="_blank">
                  <img id="medium_img_medium-blog-summary-{{ forloop.counter }}" class="medium-blog-image" src="{% static 'images/blog_img.jpg'%}"/>
               <div class="medium-blog-summary" id="medium-blog-summary-{{forloop.counter}}">
                  {{med_post.summary|richtext}}
                </div>
            </a>
            <h2 class="font-size-regular"><a href="{{med_post.links.0.href }}" target="_blank" >{{med_post.title}}</a></h2>
            <div class="meta mb-4">{{med_post.author}}<span class="mx-2">&bullet;</span>{{med_post.published}}<span class="mx-2">&bullet;</span></div>
            <p><a href="{{ med_post.links.0.href }}" target="_blank" >Continue Reading...</a></p>
          </div> 
        </div>
      
       
    {% endfor %}

        </div>
      </div>
    </section>
    {% endif %}
    

{% if page.show_contact_form  %}
    <section class="site-section bg-light" id="{{page.contact_title|cut:" "}}">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h3 class="section-sub-title">{{page.contact_title}}</h3>
            <h2 class="section-title mb-3">{{page.contact_subtitle}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-5">
            <form action="#" class="p-5 bg-white">              
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>  
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5">           
            <div class="p-4 mb-3 bg-white">
             {% if has_address %}
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">
              {{page.client_organisationName}}
              {% if page.client_organisationName %}
              ,
              {% endif %}
              {{page.client_addressLine1}}
              {% if page.client_addressLine1  %}
              ,
              {% endif %}
              
              {{page.client_addressLine2}}
              {% if page.client_addressLine2  %}
              ,
              {% endif %}

              {{page.client_town}}
              {% if page.client_town  %}
              ,
              {% endif %}

              {{page.client_county}}
              {% if page.client_county  %}
              ,
              {% endif %}

              {{page.client_country}}
              {% if page.client_country  %}
              ,
              {% endif %}

              {{page.client_postcode}}              
              </p>
              {% endif %}

              {% if page.client_phone  %}
              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">{{page.client_phone}}</a></p>
              {% endif %}

              {% if page.client_moblie  %}
              <p class="mb-0 font-weight-bold">Mobile</p>
              <p class="mb-4"><a href="#">{{page.client_moblie}}</a></p>
              {% endif %}

              {% if page.client_email  %}
              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">{{page.client_email}}</a></p>
              {% endif %}
            </div>
            
          </div>
        </div>
      </div>
    </section>
 {% endif %}
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">{{page.footer_info_title}}</h2>
               {{page.footer_info|richtext}}
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                {% if page.show_blurb and page.show_blurb_in_navigation %}
                <li><a href="#{{page.blurb_header|cut:" "}}" class="smoothscroll">{{page.blurb_header}}</a></li>
                {% endif %}
                {% if self.galleryOrderable.all and page.show_gallery_in_navigation %}
                  <li><a href="#{{page.image_gallery_title|cut:" "}}" class="smoothscroll">{{page.image_gallery_title}}</a></li>
                {% endif %}

               {% if page.show_second_blurb and page.show_second_blurb_in_navigation %}
                  <li><a href="#{{page.second_blurb_header|cut:" "}}" class="smoothscroll">{{page.second_blurb_header}}</a></li>
                {% endif %}

                {% if self.enumeratedListOrderable.all and page.show_enumerated_list_in_navigation %}
                    <li><a href="#{{page.enumerated_list_header|cut:" "}}" class="smoothscroll">{{page.enumerated_list_header}}</a></li>
                {% endif %}

                {% if self.iconListOrderable.all and page.show_icon_list_in_navigation %}
                <li><a href="#{{page.icon_list_header|cut:" "}}" class="smoothscroll">{{page.icon_list_header}}</a></li>
                {% endif %}
                {% if self.testimonialOrderable.all and page.show_testimonials_in_navigation %}
                <li><a href="#{{page.testimonials_header|cut:" "}}" class="smoothscroll">{{page.testimonials_header}}</a></li>
                {% endif %}
               
                {% if page.show_contact_form %}
                <li><a href="#{{page.contact_title|cut:" "}}" class="smoothscroll">{{page.contact_title}}</a></li>
                {% endif %}
                </ul>
              </div>              
            </div>
          </div>
          <div class="col-md-4">
       
            {% if self.socialMediaOrderable.all  %}
            <div class="">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              {% for sm in self.socialMediaOrderable.all %}
                <a href="{{sm.socialMediaItem.link}}" target="_blank" class="pl-0 pr-3"><span class="icon-{{sm.socialMediaItem.icon}}"></span></a>                
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
  <script src="{% static 'js/jquery.sticky.js'%}"></script>  
  <script src="{% static 'js/main.js'%}"></script>    
  
<script>
$(document).ready(function(){
  $(".medium-blog-summary").each(function() {  
       var targetId = $(this).attr("id");
       $("#" + targetId + " img").each(function() {
         var source = this.src;
         try{
         if(source.includes("cdn-images")){
          $("#medium_img_"+targetId).attr("src",source);
        }
      }catch{
        console.warn("could not update " + targetId + " image with image from medium site")
      }
    });   
  });    
});
</script>

</body>
</html>
{% endblock %}