{% extends "blog/blog_index_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">    
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">        
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">    
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">

{% load wagtailcore_tags wagtailimages_tags %}




<div class="container">
 <div class="row">        
        <div class="col-md-12">        
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    </div>
        </div>
</div>
{% endblock %}